Source: libapache2-mod-cloudflare
Section: web
Priority: extra
Maintainer: CloudFlare <info@cloudflare.com>
Build-Depends: debhelper (>= 8.0.0), apache2-prefork-dev | apache2-threaded-dev
Standards-Version: 3.9.3
Homepage: https://github.com/cloudflare/mod_cloudflare
#Vcs-Git: git://git.debian.org/collab-maint/mod-cloudflare.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mod-cloudflare.git;a=summary

Package: libapache2-mod-cloudflare
Architecture: any
Depends: apache2, ${shlibs:Depends}, ${misc:Depends}
Description: CloudFlare Apcahe module mod_cloudflare to show visitor IPs in logs.
 CloudFlare acts as a proxy, which means that your visitors are routed through
 the CloudFlare network and you do not see their original IP address. This
 module uses HTTP headers provided by the CloudFlare proxy to log the real IP
 address of the visitor.
 Based on mod_remoteip.c, this apache extension will replace the
 remote_ip variable in user's logs with the correct remote_ip sent
 from CloudFlare. This also does authentication, only performing
 the switch for requests originating from CloudFlare IPs.
