#! /usr/bin/make -f
CFLAGS=-O2 -Wall
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

binary: binary-indep binary-arch

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	#dh_installchangelogs CHANGES
	#dh_installdocs docs/mod_cloudflare.html CHANGES
	dh_installdeb
	dh_fixperms
	dh_shlibdeps
	dh_compress
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_md5sums
	dh_gencontrol
	dh_builddeb

build: build-stamp
build-stamp:
	dh_testdir
	CFLAGS="$(CFLAGS)" /usr/bin/apxs2 -o mod_cloudflare.so -c ../mod_cloudflare.c
	touch build-stamp
	
clean:
	dh_testdir
	rm -f build-stamp
	rm -f *.o mod_cloudflare.so			
	rm -rf .libs
	dh_clean build-stamp

install:
	dh_testdir
	dh_installdirs
	mkdir -p $(CURDIR)/debian/libapache2-mod-cloudflare/tmp/mod_cloudflare/.lib
	cp ./.libs/mod_cloudflare.so $(CURDIR)/debian/libapache2-mod-cloudflare/tmp/mod_cloudflare/
	cp ../mod_cloudflare.c $(CURDIR)/debian/libapache2-mod-cloudflare/tmp/mod_cloudflare/

	mkdir -p $(CURDIR)/debian/libapache2-mod-cloudflare/etc/apache2/mods-available
	cp $(CURDIR)/debian/cloudflare.conf $(CURDIR)/debian/libapache2-mod-cloudflare/etc/apache2/mods-available/cloudflare.conf
	cp $(CURDIR)/debian/cloudflare.load $(CURDIR)/debian/libapache2-mod-cloudflare/etc/apache2/mods-available/cloudflare.load

.PHONY: binary binary-arch binary-indep clean build install 
