#! /usr/bin/make -f
CFLAGS=-O2 -Wall
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

binary: binary-indep binary-arch

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	#dh_installchangelogs CHANGES
	#dh_installdocs docs/mod_cloudflare.html CHANGES
	dh_installdeb
	dh_fixperms
	dh_shlibdeps
	dh_compress
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_md5sums
	dh_gencontrol
	dh_builddeb

build: build-stamp
build-stamp:
	dh_testdir
	CFLAGS="$(CFLAGS)" /usr/bin/apxs2 -o mod_cloudflare.so -c *.c
	touch build-stamp
	
clean:
	dh_testdir
	rm -f build-stamp
	-rm -f *.o mod_cloudflare.so			
	dh_clean build-stamp

install:
	dh_testdir
	dh_installdirs
	apxs2 -i -a mod_cloudflare.so
	
.PHONY: binary binary-arch binary-indep clean build install 
